---
import ListImage from "~html/components/ListImage.astro";

import { awards } from "~/db";
---

<section class="mt-24">
  <h2 data-textShuffleTarget>{awards.length} Awards</h2>
  <ul class="mt-6" data-element="list">
    {
      awards.map(({ project, name, at, url, imagePath }) => {
        return (
          <li class="border-t border-dashed border-zinc-200 last:border-b">
            <a
              href={url}
              target="_blank"
              class="grid grid-cols-12 gap-gridGap py-6 group"
              data-element="link"
              data-imagePath={imagePath}
            >
              <span
                class="col-start-1 col-span-2 place-self-start group-hover:bg-black group-hover:text-white"
                data-textShuffleTarget
              >
                {name}
              </span>
              <span
                class="col-start-3 col-span-2 place-self-start group-hover:bg-black group-hover:text-white"
                data-textShuffleTarget
              >
                {at}
              </span>
              <span
                class="col-start-5 col-span-2 place-self-start group-hover:bg-black group-hover:text-white"
                data-textShuffleTarget
              >
                {project}
              </span>
              <ListImage imagePath={imagePath} alt={name} />
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
