---
import ListImage from "~html/components/ListImage.astro";

import { projects } from "~/db";
---

<section class="mt-24">
  <h2 data-textShuffleTarget>{projects.length} Projects</h2>
  <ul class="mt-6">
    {
      projects.map(({ projectYear, projectName, projectURL, projectImage }) => {
        return (
          <li class="border-t border-dashed border-zinc-200 last:border-b">
            <a
              href={projectURL}
              target="_blank"
              class="grid grid-cols-12 gap-gridGap py-8 group"
              data-element="link"
            >
              <span
                class="col-start-1 col-span-2 place-self-start group-hover:bg-black group-hover:text-white"
                data-textShuffleTarget
              >
                {projectYear}
              </span>
              <span
                class="col-start-3 col-span-2 place-self-start group-hover:bg-black group-hover:text-white"
                data-textShuffleTarget
              >
                {projectName}
              </span>
              <span
                class="col-start-5 col-span-full place-self-start group-hover:bg-black group-hover:text-white"
                data-textShuffleTarget
              >
                {projectURL}
              </span>
              <ListImage url={projectImage} alt={projectName} />
            </a>
          </li>
        );
      })
    }
  </ul>
</section>
